html, body {
  margin: 0;
  padding: 0;
}
  body {
	margin-top: 30px;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(11, auto);
  }
  body > * {
	  padding: 3px 5px;
  }
  span, input {
	  text-align: center;
  }
  
  label.employed, label.not-employed {
	  padding-top: 10px;
  }
  span.tax-not-employed, span.tax-employed {
	  padding-bottom: 20px;
  }
  
  
  label.income { grid-area: 1 / 1 / 2 / 3; }
  input.income { grid-area: 1 / 3 / 2 / 5; }
  
  label.threshold { grid-area: 2 / 1 / 3 / 3; }
  span.threshold { grid-area: 2 / 3 / 3 / 5; }
  label.cost-estimate { grid-area: 3 / 1 / 4 / 3; }
  span.cost-estimate { grid-area: 3 / 3 / 4 / 5; }
  label.taxable { grid-area: 4 / 1 / 5 / 3; }
  span.taxable { grid-area: 4 / 3 / 5 / 5; }
  
  label.not-employed { grid-area: 5 / 3 / 6 / 4; }
  label.employed { grid-area: 5 / 4 / 6 / 5; }
  
  label.pension-fund { grid-area: 6 / 1 / 7 / 2; }
  span.pension-fund { grid-area: 6 / 2 / 7 / 3; }
  span.pension-fund-not-employed { grid-area: 6 / 3 / 7 / 4; }
  span.pension-fund-employed { grid-area: 6 / 4 / 7 / 5; }
  
  label.healthcare-fund { grid-area: 7 / 1 / 8 / 2; }
  span.healthcare-fund { grid-area: 7 / 2 / 8 / 3; }
  span.healthcare-fund-not-employed { grid-area: 7 / 3 / 8 / 4; }
  span.healthcare-fund-employed { grid-area: 7 / 4 / 8 / 5; }
  
  label.tax { grid-area: 8 / 1 / 9 / 2; }
  span.tax { grid-area: 8 / 2 / 9 / 3; }
  span.tax-not-employed { grid-area: 8 / 3 / 9 / 4; }
  span.tax-employed { grid-area: 8 / 4 / 9 / 5; }
  
  label.total { grid-area: 9 / 1 / 10 / 3; }
  span.total-not-employed { grid-area: 9 / 3 / 10 / 4; }
  span.total-employed { grid-area: 9 / 4 / 10 / 5; }
  
  label.percentage { grid-area: 10 / 1 / 11 / 3; }
  span.percentage-not-employed { grid-area: 10 / 3 / 11 / 4; }
  span.percentage-employed { grid-area: 10 / 4 / 11 / 5; }